//@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Mouse+Memoirs&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: bangers;
    src: url(../assets/fonts/bangers.ttf);
}
@font-face {
    font-family: mouse;
    src: url(../assets/fonts/mouse.ttf);
}

//Fonts
$bangers: bangers, cursive;
$mouse: mouse, sans-serif;

//Palette
$reddish: #E25C4F;
$greenish: #4D681E;
$brownish: #712A0C;
$yellowish: #EABF4C;
$dark-red: #700D0E;
$dark-red2: #A74132;
$brownish-dark: #3E0C02;
$reddish2: #EF6251;
$orangey: #F38E62;
$greyyish: #89684B; 


