@media only screen and (min-width: 1301px) and (max-width: 1500px){
    .topNav{
        width: 95%;
    
        .back-icon{
            font-size: 4em;
            top: 4vh;
        }
    
        .title{
            font-size: 3.8em;
            font-weight: 400;
            line-height: 68px;
            padding: .3rem .7rem .3rem .1rem;
            top: 9vh;
            left: 6vw;
        }
    
        .mute{
            font-size: 4em;
            top: 3vh;
            left: 17vw;
            padding: .2rem;
            cursor: pointer;
            transition: ease .5s;
        }
    } 

    .container{

        .screenDiv{
            height: 100%;
            width: 75%;
    
            .screen{
                padding: 3rem 2.8rem;
                
    
                .text{
                    font-size: 2em;
                    line-height: 45px;
                    letter-spacing: 0.035em;
                }

            }
        }
    
    
        .timerDiv{
            height: 100%;
            width: 20%;
    
            #time{
                display: inline-block;
                font-size: 4em;
                font-family: $bangers;
                color: #4D681E;
                transform: rotate(-5.76deg);
                line-height: 1.2em;
                background: rgba(255, 255, 255, 0.9);
                padding: .2rem .9rem .2rem .8rem;
                text-shadow: 0px 22.6812px 27.043px rgba(0, 0, 0, 0.25);
                position: relative;
                top: 8.6vh;
                text-align: center;
            }
    
            #timeBtn{
                display: inline-block;
                font-size: 2.3em;
                font-family: $bangers;
                color: #EF6251;
                transform: rotate(5deg);
                line-height: 3.5rem;
                background: rgba(255, 255, 255, 0.9);
                padding: .5rem .9rem;
                text-shadow: 0px 22.6812px 27.043px rgba(0, 0, 0, 0.25);
                position: relative;
                top: 17vh;
                left: -1vw;
                cursor: pointer;
                transition: ease .5s;
                text-align: center;
    
                &:hover{
                    transform: scale(1.08);
                }
            }
        }
    }

    .home{
        overflow: hidden;
    
        .board{
            width: 63%;
            height: 73%;
            left: -3.4vw;
            bottom: -2vh;


            .mute{
                font-size: 4.5em;
                top: 2.3rem;
                right: 4rem;
            }
    
    
            .helloText{
                font-size: 2.4rem;
                line-height: 3rem;
                letter-spacing: 0.035em;
                margin: 4rem 0 2rem 4rem;
            }
    
            .welcomeText{
                font-size: 2.4rem;
                line-height: 3rem;
                position: relative;
                margin: 0rem 0 2.6rem 7.8rem;
                letter-spacing: 0.035em;
            }
    
            #toSpeedBee{
                font-size: 2.4rem;
                line-height: 3.813rem;
                margin: 0rem 0 3rem 12rem;
                
            }
    
            #menu{
                font-size: 1.8rem;
                margin: 2.6rem 0 2rem 4rem;
                transition: ease .5s;
                cursor: pointer;
            }
    
            #angryBirds{
                height: 70%;
                transform: rotate(0.22deg);
                right: -8rem;
                bottom: -1rem;
            }
        }

        .menuBox{
            display: none;
            position: absolute;
            top: 3vh;
            left: 12vw;
            z-index: 1;
            background: #f3e8cc;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transform: rotate(1.52deg);
            width: 25%;
            height: auto;
            padding: 2rem 2rem;
            transition: .5s ease;
            //animation: bounce 2s 1;
    
    
            .close{
                position: absolute;
                font-size: 2rem;
                top: 0rem;
                right: .5rem;
                color: #A74132;
                padding: 1rem;
                cursor: pointer;
                font-family: $bangers;
            }
            
    
            #menuTxt{
                font-family: $mouse;
                letter-spacing: 1px;
                text-align: center;
                font-size: 1.2em;
                color: #777777;
                line-height: 1.5rem;
            }
    
        }

        .menuActive{
            display: block;
            filter: brightness(1);
        }
    
    }

    
    .rankSection{
        overflow: hidden;
    
        .board{
            width: 63%;
            height: 73%;
            left: -3.4vw;
            bottom: -2vh;


            .mute{
                font-size: 4.5em;
                top: 2.3rem;
                right: 4rem;
            }
    
            .speedText{
                font-size: 2.3em;
                line-height: 3rem;
                position: relative;
                letter-spacing: 0.035em;
                margin: 4rem 0 2.4rem 5rem;
            }
    
            .rankText{
                font-size: 2.3em;
                line-height: 3.438rem;
                letter-spacing: 0.035em;
                margin: 0rem 0 2.6rem 4rem;
            }
    
            #toSpeedBee{
                font-size: 2.4em;
                line-height: 3.813rem;
                margin: 0rem 0 3rem 12rem;
                
            }
    
            #menu{
                font-size: 1.8em;
                margin: 2.6rem 0 2rem 4rem;
                transition: ease .5s;
                cursor: pointer;
            }
    
            #angryBirds{
                height: 70%;
                transform: rotate(0.22deg);
                right: -8rem;
                bottom: -1rem;
            }
        }

        .menuBox{
            display: none;
            position: absolute;
            top: 5vh;
            left: 12vw;
            z-index: 1;
            background: #f3e8cc;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transform: rotate(1.52deg);
            width: 25%;
            height: auto;
            padding: 2rem 2rem;
            transition: .5s ease;
            //animation: bounce 2s 1;
    
    
            .close{
                position: absolute;
                font-size: 2rem;
                top: 0rem;
                right: .5rem;
                color: #A74132;
                padding: 1rem;
                cursor: pointer;
                font-family: $bangers;
            }
            
    
            #menuTxt{
                font-family: $mouse;
                letter-spacing: 1px;
                text-align: center;
                font-size: 1.2em;
                color: #777777;
                line-height: 1.5rem;
            }
    
        }

        .menuActive{
            display: block;
            filter: brightness(1);
        }
    }
}