@import 'config';
@import 'home';


.main{
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/images/spongebob2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



@import 'topNav';
@import 'container';
@import 'rank';



//responsiveness
@import 'macbook';
@import 'mini-laptop';
@import 'tablet';
@import 'mobile';